<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<groups>
		<run>
			<include name="sanity"></include>
			<include name="e2e"></include>
		</run>
	</groups>
	<!-- 	<listeners>
		<listener class-name="com.param.b5.utility.Listner"></listener>
	</listeners>-->
	<test thread-count="5" name="Test">
		<classes>
			<class name="testCase.VerifyApplicationHomePageTitle" />
			<!-- <class name="testCase.VerifyNewTourRegistration"/>-->
			<!--<class name="testCase.VerifyOmayoBlogHomePage"/>-->
      <class name="testCase.VerifyCheckBoxAndRadioButton"/>
     <!--  <class name="testCase.VerifyMultiselectDropDownFuntionality"/>-->
       <!--<class name="testCase.VerifyPageNavigation"/>-->
			<!-- <class name="testCase.TestCaseForReadExcelData"/>-->
     <!--  <class name="testCase.IfTestFailureThenScreenShot"/>-->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
